{% extends "base.html" %} {% from "bootstrap5/form.html" import render_form %}

{% block content %}

    <!-- Main  -->
    <div class="container mt-5">
        <div class="section-background">
            <div class="row">
                <div class="col-md-6">
                    <h1>What's happening now?</h1>
                </div>

                <div class="col-md-6 text-end">
                    <a href="{{ url_for('main.create_event') }}">
                        <button class="btn btn-create me-3">Create Event + </button>
                    </a>
                    <div class="dropdown d-inline">
                        <button class="btn dropdown-toggle" type="button" id="eventCategoryDropdown"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Filter
                        </button>
                        <ul class="dropdown-menu p-3" aria-labelledby="eventCategoryDropdown">
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="house" id="houseEvents">
                                    <label class="form-check-label" for="houseEvents">House</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="techno" id="technoEvents">
                                    <label class="form-check-label" for="technoEvents">Techno</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="trance" id="tranceEvents">
                                    <label class="form-check-label" for="tranceEvents">Trance</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="dubstep" id="dubstepEvents">
                                    <label class="form-check-label" for="dubstepEvents">Dubstep</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="drum-and-bass"
                                        id="drumBassEvents">
                                    <label class="form-check-label" for="drumBassEvents">Drum and Bass</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="electro" id="electroEvents">
                                    <label class="form-check-label" for="electroEvents">Electro</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="future-bass"
                                        id="futureBassEvents">
                                    <label class="form-check-label" for="futureBassEvents">Future Bass</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="trap" id="trapEvents">
                                    <label class="form-check-label" for="trapEvents">Trap</label>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>

            <!-- Event Listings -->
            <div class="row mt-5">
                <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                    <div class="event-card">
                        <a href="event_details.html">
                            <img src="static/img/event1.jpg" class="img-fluid" alt="Event 1 Image">
                        </a>
                        <h3>Electronic Dance</h3>
                        <p class="location">Montreal</p>
                        <p>September 16, 2024</p>
                        <span class="event-status status-sold-out">Sold Out</span>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                    <div class="event-card">
                        <a href="event_details.html">
                            <img src="static/img/event2.jpg" class="img-fluid" alt="Event 2 Image">
                        </a>
                        <h3>French House</h3>
                        <p class="location">St Tropez</p>
                        <p>September 18, 2024</p>
                        <span class="event-status status-open">Open</span>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                    <div class="event-card">
                        <a href="event_details.html">
                            <img src="static/img/event3.jpg" class="img-fluid" alt="Event 3 Image">
                        </a>
                        <h3>Summer Beats</h3>
                        <p class="location"> Brisbane</p>
                        <p>September 20, 2024</p>
                        <span class="event-status status-inactive">Inactive</span>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                    <div class="event-card">
                        <a href="event_details.html">
                            <img src="static/img/event4.jpg" class="img-fluid" alt="Event 4 Image">
                        </a>
                        <h3>House Party</h3>
                        <p class="location">Glasgow</p>
                        <p>September 22, 2024</p>
                        <span class="event-status status-open">Open</span>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                    <div class="event-card">
                        <a href="event_details.html">
                            <img src="static/img/event5.jpg" class="img-fluid" alt="Event 5 Image">
                        </a>
                        <h3>Yacht Party</h3>
                        <p class="location">Sydney</p>
                        <p>September 25, 2024</p>
                        <span class="event-status status-open">Open</span>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                    <div class="event-card">
                        <a href="event_details.html">
                            <img src="static/img/event6.jpg" class="img-fluid" alt="Event 6 Image">
                        </a>
                        <h3>Chill House + Brunch</h3>
                        <p class="location">Los Angeles</p>
                        <p>September 28, 2024</p>
                        <span class="event-status status-sold-out">Sold Out</span>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                    <div class="event-card">
                        <a href="event_details.html">
                            <img src="static/img/event7.jpg" class="img-fluid" alt="Event 7 Image">
                        </a>
                        <h3>Nu Jazz Rooftop</h3>
                        <p class="location">New York</p>
                        <p>October 1, 2024</p>
                        <span class="event-status status-inactive">Inactive</span>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                    <div class="event-card">
                        <a href="event_details.html">
                            <img src="static/img/event8.jpg" class="img-fluid" alt="Event 8 Image">
                        </a>
                        <h3>GlitchCore</h3>
                        <p class="location">Berlin</p>
                        <p>October 3, 2024</p>
                        <span class="event-status status-cancelled">Cancelled</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
    