{% extends "base.html" %} {% from "bootstrap5/form.html" import render_form %}
{% block content %}
<!-- Main  -->
<div class="container mt-5">
  <div class="section-background p-4">
    <h1 class="text-center">YOUR EVENTS</h1>

    {% if events %}
    <div class="row">
      {% for event in events %}
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="event-card mb-4">
          <!-- Event Image -->
          <img
            src="{{ url_for('static', filename=event.image.replace('website/static/', '')) }}"
            alt="Event Image"
            class="card-img-top"
            style="max-height: 200px; object-fit: cover"
          />

          <div class="card-body">
            <h5 class="card-title">{{ event.name }}</h5>
            <p class="card-text">
              <strong>Location:</strong> {{ event.location }}
            </p>
            <p class="card-text">
              <strong>Date:</strong> {{ event.date.strftime('%Y-%m-%d %H:%M') }}
            </p>
            <!-- Event Status -->
            {% if event.status == 'Sold Out' %}
              <span class="event-status status-sold-out">Sold Out</span>
            {% elif event.status == 'Tickets Available' %}
              <span class="event-status status-open">Tickets Available</span>
            {% elif event.status == 'Cancelled' %}
              <span class="event-status status-cancelled">Cancelled</span>
            {% elif event.status == 'Inactive' %}
              <span class="event-status status-inactive">Inactive</span>
            {% endif %}
            <div>
              <a
              href="{{ url_for('event_bp.update_event', event_id=event.id) }}"
              class="btn btn-primary"
              >Update Event</a
            >
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% else %}
    <p>You haven't created any events yet. 😥</p>
    {% endif %}
  </div>
</div>
{% endblock %}
