{% extends "base.html" %} {% from "bootstrap5/form.html" import render_form %}
{% block content %}
<!-- Main  -->
<div class="container mt-5">
  <div class="section-background p-4">
    <h1 class="text-center">YOUR BOOKING HISTORY</h1>

    {% if bookings %}
    <div class="row mt-4">
      <!-- Event Listings -->
      {% for booking in bookings %}
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="event-card mb-4">
          <!-- Event Image -->
          <img
            src="{{ url_for('static', filename=booking.event.image.replace('nuit/static/', '')) }}"
            alt="Event Image"
            class="card-img-top"
            style="max-height: 200px; object-fit: cover"
          />

          <!-- Event and Booking Details -->
          <div class="p-3">
            <h5 class="card-title">{{ booking.event.name }}</h5>
            <p class="location">
              <strong>Location:</strong> {{ booking.event.location }}
            </p>
            <p><strong>Booking ID:</strong> {{ booking.id }}</p>
            <p>
              <strong>Booked On:</strong> {{ booking.booking_date.strftime('%B
              %d, %Y %I:%M %p') }}
            </p>
            <p><strong>Ticket quantity:</strong> {{ booking.quantity }}</p>
            <!-- Event Status -->
            {% if booking.event.status == 'Sold Out' %}
            <span class="event-status status-sold-out">Sold Out</span>
            {% elif booking.event.status == 'Tickets Available' %}
            <span class="event-status status-open">Tickets Available</span>
            {% elif booking.event.status == 'Cancelled' %}
            <span class="event-status status-cancelled">Cancelled</span>
            {% elif booking.event.status == 'Inactive' %}
            <span class="event-status status-inactive">Inactive</span>
            {% endif %}
          </div>
        </div>
        </div>
        {% endfor %}
      </div>
      {% else %}
      <p class="text-center mt-5">
        What are you waiting for? Go book a party! 🥳
      </p>
      {% endif %}
    </div>
  </div>
  {% endblock %}
</div>
